<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <h1 class="panel-heading">Questions</h1>
  <div class="panel-body">
    <% @questions.each do |question| %>
    <%= render 'box', question: question %>
    <% end %>
  </div>
</div>