<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">パネルの見出し(Info)</h3>
  </div>
  <div class="panel-body">
    パネルの内容
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">パネルの見出し(Info)</h3>
  </div>
  <div class="panel-body">
    パネルの内容
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">パネルの見出し(Info)</h3>
  </div>
  <div class="panel-body">
    パネルの内容
  </div>
</div>

