<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">アプリ概要</a></li>
        <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">投稿写真一覧</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="home">
          <em class="text-muted">このアプリは、島根県に旅行に来た方に向けて、<br>地元の人がオススメスポットを紹介する場を提供<br>するために製作されました。このアプリを使い、<br>縁結びの県島根で少しでも多くの方が幸せなご縁に<br>sめぐりあえることを願っています。</em>
        </div>
        <div class="tab-pane fade" id="profile">
          <%@answers.each do |answer|%>
          <div><%=image_tag(answer.image_url, :class=> "img-responsive")%></div>
          <%end%>
          <div>
          </div>
        </div>
      </div>
    </div>

