<p id="notice"><%= notice %></p>




<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">回答概要</a></li>
        <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">回答詳細</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="home">
         <%= render 'box', answer: @answer %>
       </div>
       <div class="tab-pane fade" id="profile">
        <div class="well well-lg">
          <%= @answer.spot_detail %><br>
          <button id="map-button">地図表示</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>





<div class="col-lg-6">
  <div class="bs-component">
    <div class="modal">
      <div class="modal-dialog">
        <div class="modal-content" style='height:500px;'>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body" id="map" style='height:80%;'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>








<script type="text/javascript">
  $(function() {
    $('#map-button').click(function(){
      $('.modal').fadeIn();
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      });
      $('.close').click(function(){
        $('.modal').fadeOut();
      });
    });
  });
</script>
